<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>Info</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">MedPlant</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/info">Info</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
      </ul>
      <a href="/contact">
        <button class="btn btn-outline-danger bg-danger text-white my-2 my-sm-0" type="submit">Contact Us --></button>
      </a>
    </div>
  </nav>

  <div>
    <img src="static/images/info.png" class="img-fluid" style="width: 100%;" >
    <div class="text-light text-center" style="position: absolute; top: 15%; left: 50%; transform: translate(-50%,50%);">
      <h1 class="display-4 font-weight-normal">Healthy Hair, Healthy You</h1>
      <hr class="bg-light">
      <p class="lead font-weight-normal"> Hair serves as a reflection of health, indicating overall well-being and often providing clues to one's lifestyle and habits.</p>
      <a class="btn btn-outline-secondary bg-danger" onclick="scrollDown('scroll')">See Next--></a>
    </div>
  </div>

<div class="jumbotron jumbotron-fluid my-3 text-center" id="scroll">
  <div class="container">
    <h1 class="display-4">About HairScalp</h1>
    <p class="lead">Hair loss and related diseases have been a major issue throughout the world. Hair loss can be a significant concern for many individuals impacting thier life in several ways. A patient may be unable to differentiate between hair fall and hair loss. The goal of this project is to create a web-based platform that uses image processing methods to make it easier to identify or recognize various hair and scalp diseases. The online interface is been built using the Flask framework and other web technologies, and the picture analysis will be performed using Python, Image Processing and Deep Learning Model.</p>
  </div>
</div>
<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading display-4 ml-4">The Problem Statement. <span class="text-muted"><small>It’ll blow your mind.</small></span></h2>
    <p class="lead text-justify ml-4">Indians experience hair loss as a result of aging, stress, medicine, or heredity. Many disorders 
connected to the hair and scalps are first undetected. A patient may be unable to differentiate 
between hair fall and hair loss. Hair related disorders take huge time to diagnose since medical and 
visual tests must be carried out by qualified doctor. As a result, the overall diagnosis is detained, 
exacerbating the illness's severity. Neural network-based systems are utilized in many fields, 
including healthcare and health informatics, to anticipate fatal diseases like cancer and tumors 
because of their capacity for image processing. These apps help patients and doctors and offer a 
first glimpse at early-stage symptoms. Thus, software that can recognize several types of Hair and Scalp Diseases using Image Processing and other Machine Learning Algorithms will be quite useful. It will be beneficial for all the people suffering from the consequences of some type of issue related to hair and scalp.</p>
  </div>
  <div class="col-md-5">
    <img src="static/images/info_img2.png" style="width: 500px; height: 500px;">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2 ml-4">
    <h2 class="featurette-heading display-4 ">Solving the Problem. <span class="text-muted"><small>It’ll Blow Your Mind.</small></span></h2><br>
    <p class="lead text-justify ">Hair diseases pose a significant global concern, impacting millions worldwide. Conditions like alopecia, dandruff, fungal infections and genetic disorders affect individual's physical appearance, emotional well-being and self-esteem. These disease can be cured when identified and treated at a right stage of time. The individuals may fail to identify the type of the disease they are affected with, thus avoiding the required medications at right moment of time.This problem is solved by the proposed system, which uses images or photographs to automate the process of hair and scalp disease identification. Users are able to input images of scalp and hair, and the algorithm will correctly identify the disease associated with that problem.The sytem returns the desired results to the user which includes the name of the respective disease and the confidence associated with it, that signifies the matching percentage with the actual disease.</p>
  </div>
  <div class="col-md-4 ml-4">
    <img src="static/images/output.png" style="width: 450px; height: 500px; border: 2px dotted grey;">
  </div>
  
</div>

<hr class="featurette-divider">

<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">Aim of HairScalp</h1>
    <p class="lead">The project's goal is to create a reliable system that uses image processing to automatically identify several diseases related to hair and scalp. This project will offer a user-friendly and precise tool for the identification of hair and scalp diseases by combining Python's image processing capabilities with the Flask framework's web building characteristics. The system's ongoing development and community involvement will benefit the healthcare and hair and scalp hygine industry.</p>
  </div>
</div>

  <footer class="bg-dark text-center text-white position-relative mt-3">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section WT project -->
      <h3 class="mx-auto mb-4">A Project For Engineering Design and Innovation</h3>
      <!-- Section: Links -->


      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          A web based platform that uses images or photographs to automate the process of hair and scalp disease identification. Users are able to input images of scalp and hair, and the algorithm will correctly identify the disease associated with that problem.The sytem returns the desired results to the user which includes the name of the respective disease and the confidence associated with it, that signifies the matching percentage with the actual disease.
        </p>
      </section>
      <!-- Section: Text -->

      <!-- Section A Project By -->
      <h3 class="mx-auto mb-4">Major Contributions :</h3>
      <!-- Section: Links -->

      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Dr. Kavita Sultanpure</h5>

            <a class="btn btn-outline-light btn-floating m-1" role="button" onmouseover="showMail('mam','kavita.sultanpure@vit.edu')" onmouseleave="hideMail('mam')"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16" >
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
            </svg></a>
            <span id="mam"><strong></strong></span>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Suraj N. Samgir</h5>

            <a class="btn btn-outline-light btn-floating m-1" role="button" onmouseover="showMail('suraj','suraj.samgir23@vit.edu')" onmouseleave="hideMail('suraj')"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16" >
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
            </svg></a>
            <span id="suraj"><strong></strong></span>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Harshada A. Sawai</h5>

            <a class="btn btn-outline-light btn-floating m-1" role="button" onmouseover="showMail('harshada','harshada.sawai23@vit.edu')" onmouseleave="hideMail('harshada')"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16" >
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
            </svg></a>
            <span id="harshada"><strong></strong></span>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Bhairavi Shirsath</h5>

            <a class="btn btn-outline-light btn-floating m-1" role="button" onmouseover="showMail('bhairavi','bhairavi.shirsath23@vit.edu')" onmouseleave="hideMail('bhairavi')"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16" >
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
            </svg></a>
            <span id="bhairavi"><strong></strong></span>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Bhakti S. Bhande</h5>

            <a class="btn btn-outline-light btn-floating m-1" role="button" onmouseover="showMail('bhakti','bhakti.bhande23@vit.edu')" onmouseleave="hideMail('bhakti')"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16" >
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
            </svg></a>
            <span id="bhakti"><strong></strong></span>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Srushti M. Gawade</h5>
            
            <a class="btn btn-outline-light btn-floating m-1" role="button" onmouseover="showMail('srushti','srushti.gawade23@vit.edu')" onmouseleave="hideMail('srushti')"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16"  >
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
            </svg></a>
            <span id="srushti"><strong></strong></span>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright |
      <a class="text-white" href="https://mdbootstrap.com/">Vishwakarma Institute of Technnology, Pune</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

    <script>
      function showMail(a,b)
      {
        document.getElementById(a).innerHTML = b;
      }
  
      function hideMail(a)
      {
        document.getElementById(a).innerHTML = "";
      }
  
      function preview()
      {
        alert(document.getElementById('fileupload').value)
        document.getElementById('dispimg').src = document.getElementById('fileupload').value;
      }

      function scrollDown(elemId)
      {
        const element = document.getElementById(elemId);
        if (element) {
          element.scrollIntoView({behavior:"smooth"});
        }
      }
    </script>
</body>

</html>